{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
    <h2>Modifier le mot de passe</h2>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Changer le mot de passe</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}

{% endblock %}
