{#{% extends 'base.html.twig' %}#}

{#{% block title %}Demande de réinitialisation de mot de passe{% endblock %}#}

{#{% block body %}#}
{#    <section>#}
{#        <h1>Demande de réinitialisation de mot de passe</h1>#}
{#        {{ form_start(requestPassForm) }}#}
{#        {{ form_row(requestPassForm.email) }}#}
{#        <button type="submit">Envoyer</button>#}
{#        {{ form_end(requestPassForm) }}#}
{#    </section>#}
{#{% endblock %}#}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}Demande de réinitialisation de mot de passe{% endblock %}#}

{#{% block body %}#}
{#    <section style="max-width: 600px; margin: 0 auto; padding: 20px;">#}
{#        <h1>Demande de réinitialisation de mot de passe</h1>#}

{#        #}{# Messages flash éventuels #}
{#        {% for label, messages in app.flashes %}#}
{#            <div class="alert alert-{{ label }}">#}
{#                {% for message in messages %}#}
{#                    {{ message }}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}

{#        <p>#}
{#            Veuillez entrer votre adresse email ci-dessous. <br>#}
{#            Si un compte existe, un lien de réinitialisation vous sera envoyé.#}
{#        </p>#}

{#        {{ form_start(requestPassForm) }}#}
{#        {{ form_row(requestPassForm.email) }}#}
{#        <button type="submit" class="btn btn-primary w-100">Envoyer le lien</button>#}
{#        {{ form_end(requestPassForm) }}#}
{#    </section>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <h1>Demande de réinitialisation de mot de passe</h1>
        {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.mail) }}
        <button type="submit">Envoyer</button>
        {{ form_end(requestPassForm) }}
    </section>
{% endblock %}
