{% extends '../base.html.twig' %}

{% block title %}list sortie{% endblock %}

{% block body %}

    <h1>Liste des sorties</h1>
    <ul>
        {% for sortie in sorties %}
            <li>
                {{ sortie.nom }}
                ({{ sortie.dateHeureDebut|date('d/m/Y H:i') }})
                {{ sortie.etat.libelle }}
                {{ sortie.siteOrganisateur.nom }}
                {{ sortie.Lieu.nom }}
                ({{ sortie.dateLimiteInscription|date('d/m/Y H:i') }})
                ({{ sortie.nbInscriptionsMax }})
                ({{ sortie.duree }})
                ({{ sortie.organisateur.nom }})
            </li>
        {% endfor %}
    </ul>

{% endblock %}
