<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover - UIkit 3 KickOff</title>
    <link rel="icon" href="favicon.ico">

    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
    <style>
        .lead {
            font-size: 1.175em;
            font-weight: 300;
        }

        .uk-logo img {
            height: 28px;
        }
    </style>
</head>


<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>

        <ul class="uk-nav uk-nav-default">

            {% if app.user %}
                <li class="uk-nav-header uk-margin-small-top">BONJOUR {{ app.user.username|upper }}</li>

                <li class="uk-margin-small-top">
                    <a href="{{ path('app_profile') }}">
                        <span class="uk-margin-small-right" uk-icon="user"></span>
                        Voir mon profil
                    </a>
                </li>
                <li class="uk-margin-small-top">
                    <a href="{{ path('sortie_create') }}">
                        <span class="uk-margin-small-right" uk-icon="plus-circle"></span>
                        Créer une sortie
                    </a>
                </li>
                <li class="uk-nav-divider"></li>
            {% else %}
                <li class="uk-nav-header">BIENVENUE</li>
                <li class="uk-nav-divider"></li>
            {% endif %}

            <li class="uk-nav-header">LES SORTIES</li>
            <li class="uk-margin-small-top">
                <a href="{{ path('app_sortie') }}">
                    <span class="uk-margin-small-right" uk-icon="table"></span>
                    Voir les sorties publiées
                </a>
            </li>
            <li class="uk-margin-small-top">
                <a href="{{ path('app_sortie') }}">
                    <span class="uk-margin-small-right" uk-icon="thumbnails"></span>
                    Voir mes sorties
                </a>
            </li>

            {% if app.user is empty %}
                <li class="uk-nav-divider"></li>
                <li class="uk-margin-small-top">
                    <a href="{{ path('app_login') }}">
                        <span class="uk-margin-small-right" uk-icon="sign-in"></span>
                        Se connecter
                    </a>
                    {% else %}
                        <li class="uk-nav-divider"></li>
                        <li class="uk-margin-small-top">
                            <a href="{{ path('app_logout') }}">
                                <span class="uk-margin-small-right" uk-icon="sign-in"></span>
                                Se déconnecter
                            </a>
                </li>
            {% endif %}
        </ul>

        <h3 class="uk-margin-top">A propos du site</h3>
        <p>
            Ce site est dédié aux stagiaires de l'ENI, qui souhaitent se réunir et partager un bon moment,
            en proposant des sorties et des rencontres en Bretagne et à Nantes.
            Il est accessible gratuitement grâce à votre mail campus-eni.fr
        </p>
    </div>
</div>



<!-- /OFFCANVAS -->

<!-- JS FILES -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>


<body>
{% include 'navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'footer.html.twig' %}
</body>
</html>
